--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13
-- Dumped by pg_dump version 15.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO lms_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO lms_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO lms_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_book; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.core_book (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    author character varying(100) NOT NULL,
    isbn character varying(13) NOT NULL,
    genre character varying(20) NOT NULL,
    publication_date date NOT NULL,
    publisher character varying(100) NOT NULL,
    total_copies integer NOT NULL,
    available_copies integer NOT NULL,
    description text NOT NULL,
    cover_image character varying(100),
    language character varying(50) NOT NULL,
    pages integer,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint,
    CONSTRAINT core_book_available_copies_check CHECK ((available_copies >= 0)),
    CONSTRAINT core_book_pages_check CHECK ((pages >= 0)),
    CONSTRAINT core_book_total_copies_check CHECK ((total_copies >= 0))
);


ALTER TABLE public.core_book OWNER TO lms_user;

--
-- Name: core_book_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.core_book ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_book_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_borrowrecord; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.core_borrowrecord (
    id bigint NOT NULL,
    borrow_date date NOT NULL,
    due_date date NOT NULL,
    return_date date,
    is_returned boolean NOT NULL,
    fine_amount numeric(8,2) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    book_id bigint NOT NULL,
    borrower_id bigint NOT NULL
);


ALTER TABLE public.core_borrowrecord OWNER TO lms_user;

--
-- Name: core_borrowrecord_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.core_borrowrecord ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_borrowrecord_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_category; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.core_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.core_category OWNER TO lms_user;

--
-- Name: core_category_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.core_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_fine; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.core_fine (
    id bigint NOT NULL,
    amount numeric(8,2) NOT NULL,
    is_paid boolean NOT NULL,
    paid_date timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    borrow_record_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.core_fine OWNER TO lms_user;

--
-- Name: core_fine_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.core_fine ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_fine_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_notification; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.core_notification (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    message text NOT NULL,
    is_read boolean NOT NULL,
    notification_type character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.core_notification OWNER TO lms_user;

--
-- Name: core_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.core_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_reservation; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.core_reservation (
    id bigint NOT NULL,
    reservation_date timestamp with time zone NOT NULL,
    status character varying(10) NOT NULL,
    expiry_date timestamp with time zone NOT NULL,
    notification_sent boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    book_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.core_reservation OWNER TO lms_user;

--
-- Name: core_reservation_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.core_reservation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_reservation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.core_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    user_type character varying(10) NOT NULL,
    phone_number character varying(15) NOT NULL,
    address text NOT NULL,
    date_of_birth date,
    is_verified boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.core_user OWNER TO lms_user;

--
-- Name: core_user_groups; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.core_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.core_user_groups OWNER TO lms_user;

--
-- Name: core_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.core_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.core_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_user_user_permissions; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.core_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.core_user_user_permissions OWNER TO lms_user;

--
-- Name: core_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.core_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO lms_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO lms_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO lms_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: lms_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: lms_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO lms_user;

--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: core_book core_book_isbn_key; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_book
    ADD CONSTRAINT core_book_isbn_key UNIQUE (isbn);


--
-- Name: core_book core_book_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_book
    ADD CONSTRAINT core_book_pkey PRIMARY KEY (id);


--
-- Name: core_borrowrecord core_borrowrecord_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_borrowrecord
    ADD CONSTRAINT core_borrowrecord_pkey PRIMARY KEY (id);


--
-- Name: core_category core_category_name_key; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_category
    ADD CONSTRAINT core_category_name_key UNIQUE (name);


--
-- Name: core_category core_category_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_category
    ADD CONSTRAINT core_category_pkey PRIMARY KEY (id);


--
-- Name: core_fine core_fine_borrow_record_id_key; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_fine
    ADD CONSTRAINT core_fine_borrow_record_id_key UNIQUE (borrow_record_id);


--
-- Name: core_fine core_fine_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_fine
    ADD CONSTRAINT core_fine_pkey PRIMARY KEY (id);


--
-- Name: core_notification core_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_notification
    ADD CONSTRAINT core_notification_pkey PRIMARY KEY (id);


--
-- Name: core_reservation core_reservation_book_id_user_id_status_48ef9c28_uniq; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_reservation
    ADD CONSTRAINT core_reservation_book_id_user_id_status_48ef9c28_uniq UNIQUE (book_id, user_id, status);


--
-- Name: core_reservation core_reservation_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_reservation
    ADD CONSTRAINT core_reservation_pkey PRIMARY KEY (id);


--
-- Name: core_user_groups core_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_pkey PRIMARY KEY (id);


--
-- Name: core_user_groups core_user_groups_user_id_group_id_c82fcad1_uniq; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_user_id_group_id_c82fcad1_uniq UNIQUE (user_id, group_id);


--
-- Name: core_user core_user_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_pkey PRIMARY KEY (id);


--
-- Name: core_user_user_permissions core_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: core_user_user_permissions core_user_user_permissions_user_id_permission_id_73ea0daa_uniq; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_user_id_permission_id_73ea0daa_uniq UNIQUE (user_id, permission_id);


--
-- Name: core_user core_user_username_key; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: core_book_author_68aaaf_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_book_author_68aaaf_idx ON public.core_book USING btree (author);


--
-- Name: core_book_category_id_cea0e710; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_book_category_id_cea0e710 ON public.core_book USING btree (category_id);


--
-- Name: core_book_genre_bfd474_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_book_genre_bfd474_idx ON public.core_book USING btree (genre);


--
-- Name: core_book_isbn_5f14912c_like; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_book_isbn_5f14912c_like ON public.core_book USING btree (isbn varchar_pattern_ops);


--
-- Name: core_book_isbn_79f84d_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_book_isbn_79f84d_idx ON public.core_book USING btree (isbn);


--
-- Name: core_book_title_119b07_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_book_title_119b07_idx ON public.core_book USING btree (title);


--
-- Name: core_borrow_borrowe_829b11_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_borrow_borrowe_829b11_idx ON public.core_borrowrecord USING btree (borrower_id, is_returned);


--
-- Name: core_borrow_due_dat_6ee3bf_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_borrow_due_dat_6ee3bf_idx ON public.core_borrowrecord USING btree (due_date);


--
-- Name: core_borrow_is_retu_6a04d6_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_borrow_is_retu_6a04d6_idx ON public.core_borrowrecord USING btree (is_returned);


--
-- Name: core_borrowrecord_book_id_35bab1da; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_borrowrecord_book_id_35bab1da ON public.core_borrowrecord USING btree (book_id);


--
-- Name: core_borrowrecord_borrower_id_1a40263f; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_borrowrecord_borrower_id_1a40263f ON public.core_borrowrecord USING btree (borrower_id);


--
-- Name: core_category_name_55b68161_like; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_category_name_55b68161_like ON public.core_category USING btree (name varchar_pattern_ops);


--
-- Name: core_fine_user_id_59138f_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_fine_user_id_59138f_idx ON public.core_fine USING btree (user_id, is_paid);


--
-- Name: core_fine_user_id_8a6a1567; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_fine_user_id_8a6a1567 ON public.core_fine USING btree (user_id);


--
-- Name: core_notification_user_id_6e341aac; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_notification_user_id_6e341aac ON public.core_notification USING btree (user_id);


--
-- Name: core_reserv_expiry__0eb6e8_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_reserv_expiry__0eb6e8_idx ON public.core_reservation USING btree (expiry_date);


--
-- Name: core_reserv_status_3b8861_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_reserv_status_3b8861_idx ON public.core_reservation USING btree (status);


--
-- Name: core_reserv_user_id_1cb23f_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_reserv_user_id_1cb23f_idx ON public.core_reservation USING btree (user_id, status);


--
-- Name: core_reservation_book_id_92d1a486; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_reservation_book_id_92d1a486 ON public.core_reservation USING btree (book_id);


--
-- Name: core_reservation_user_id_ce63f62d; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_reservation_user_id_ce63f62d ON public.core_reservation USING btree (user_id);


--
-- Name: core_user_email_38052c_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_user_email_38052c_idx ON public.core_user USING btree (email);


--
-- Name: core_user_groups_group_id_fe8c697f; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_user_groups_group_id_fe8c697f ON public.core_user_groups USING btree (group_id);


--
-- Name: core_user_groups_user_id_70b4d9b8; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_user_groups_user_id_70b4d9b8 ON public.core_user_groups USING btree (user_id);


--
-- Name: core_user_user_permissions_permission_id_35ccf601; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_user_user_permissions_permission_id_35ccf601 ON public.core_user_user_permissions USING btree (permission_id);


--
-- Name: core_user_user_permissions_user_id_085123d3; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_user_user_permissions_user_id_085123d3 ON public.core_user_user_permissions USING btree (user_id);


--
-- Name: core_user_user_ty_e1e849_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_user_user_ty_e1e849_idx ON public.core_user USING btree (user_type);


--
-- Name: core_user_usernam_e8adca_idx; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_user_usernam_e8adca_idx ON public.core_user USING btree (username);


--
-- Name: core_user_username_36e4f7f7_like; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX core_user_username_36e4f7f7_like ON public.core_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: lms_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_book core_book_category_id_cea0e710_fk_core_category_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_book
    ADD CONSTRAINT core_book_category_id_cea0e710_fk_core_category_id FOREIGN KEY (category_id) REFERENCES public.core_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_borrowrecord core_borrowrecord_book_id_35bab1da_fk_core_book_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_borrowrecord
    ADD CONSTRAINT core_borrowrecord_book_id_35bab1da_fk_core_book_id FOREIGN KEY (book_id) REFERENCES public.core_book(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_borrowrecord core_borrowrecord_borrower_id_1a40263f_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_borrowrecord
    ADD CONSTRAINT core_borrowrecord_borrower_id_1a40263f_fk_core_user_id FOREIGN KEY (borrower_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_fine core_fine_borrow_record_id_2c9541b8_fk_core_borrowrecord_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_fine
    ADD CONSTRAINT core_fine_borrow_record_id_2c9541b8_fk_core_borrowrecord_id FOREIGN KEY (borrow_record_id) REFERENCES public.core_borrowrecord(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_fine core_fine_user_id_8a6a1567_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_fine
    ADD CONSTRAINT core_fine_user_id_8a6a1567_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_notification core_notification_user_id_6e341aac_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_notification
    ADD CONSTRAINT core_notification_user_id_6e341aac_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_reservation core_reservation_book_id_92d1a486_fk_core_book_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_reservation
    ADD CONSTRAINT core_reservation_book_id_92d1a486_fk_core_book_id FOREIGN KEY (book_id) REFERENCES public.core_book(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_reservation core_reservation_user_id_ce63f62d_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_reservation
    ADD CONSTRAINT core_reservation_user_id_ce63f62d_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_groups core_user_groups_group_id_fe8c697f_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_group_id_fe8c697f_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_groups core_user_groups_user_id_70b4d9b8_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_user_id_70b4d9b8_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_user_permissions core_user_user_permi_permission_id_35ccf601_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permi_permission_id_35ccf601_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_user_permissions core_user_user_permissions_user_id_085123d3_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_user_id_085123d3_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: lms_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO lms_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES  TO lms_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES  TO lms_user;


--
-- PostgreSQL database dump complete
--

